*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: #066acd;
}
.container{
    width: 60em;
    display: flex;
    justify-content:center;
    flex-direction: row;
    background-color:white;
    margin-top: 15em;
    margin-left: 10em;
    border-radius: 10px;
  
}
.row{
    width: 30em;
    height:40empx;
}
.todo-message{
    width:98%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-top:1em;
    height:15em;
    border:1px solid #0d75ec;
    border-radius:1em;
}
.todo-message span{
    width:100%;
    height:100%;
    background-color: #c5e1e6;
    border-radius:1em;
    
}
.todo-message span p{ 
    margin-left: 1em;
    margin-top: 1em;
} 
.todo-task{
    margin:2em;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.add-todo{
    display: flex;
    align-items: center;
    gap: 1em;
}
.add-todo input{
    width: 20em;
    height: 2.5em;
    border: 2px solid #d1d3d4;
    color:#111111;
    font-weight: bold;
    border-radius: 5px;
    font-size:1em;
    padding:0px 10px;
}
.add-todo input:focus{
    outline:none;
    border-color:#0d75ec
}
.add-todo button{
    width:5em;
    height:2.6em;
    font-size: 1em;
    color:#ffffff;
    background-color:#0d75ec;
    border:none;
    border-radius: 5px;
}
.add-message textarea{
    max-width: 24.5em;
    min-width: 24.5em;
    max-height: 5em;
    min-height: 5em;
    border: 2px solid #d1d3d4;
    color:#111111;
    font-weight: bold;
    border-radius: 5px;
    font-size:1em;
    text-align: start;
    padding:0px 10px;
}
.add-message textarea:focus{
    outline:none;
    border-color:#0d75ec
}
hr{
    margin-top:2em;
    border:1px ridge;
    border-color: #0d75ec;
}
.todo-menu{
    display:flex;
    flex-direction: column;
    gap: 4px;
    margin-left:32px;
    margin-bottom: 2em;
}
.todo-menu span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:24.5em;
    height: 2.5em;
    border: 2px solid #d1d3d4;
    color:#111111;
    font-weight: bold;
    border-radius: 5px;
    font-size:1em;
    padding:0px 10px;
    background-color: #c5e1e6;
    border: 1px solid #939697;
}
.todo-menu span p{
    margin:3px;
    margin-top: 10px;
}
img{
    margin-top: 7px;
}